/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  font-family: "Source Code Pro", monospace;
  overflow-x: hidden;
}

.container {
  display: flex;
  margin: 0 auto;
}

/* ---------Sidebar--------- */
.sidebar {
  width: 31.25%;
  background-color: #d0d1d3;
  font-size: 16px;
  overflow: hidden;
  min-width: 420px;
  height: 100%;
}

.sidebar__container {
  margin: 0 1%;
  /* max-width: 375px; */
}

.avatar {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 50px 25px 0 25px;
  overflow: hidden;
}

.avatar__img {
  margin: auto;
  width: 100%;
}

/* ----------CONTACTS--------------- */

.contacts {
  margin-top: 75px;
  font-weight: bold;
}

.contacts__header,
.personal__header,
.interests__header,
.connect__header {
  width: 100%;
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}

.contacts__header::after,
.personal__header::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
  margin: 0 auto;
}

.contacts__phone,
.contacts__mail,
.contacts__portfolio,
.contacts__place {
  display: flex;
  margin-top: 40px;
}

.contacts__phone__image,
.contacts__mail__image,
.contacts__portfolio__image,
.contacts__place__image {
  width: 40px;
  margin-left: 15px;
}

.contacts__phone__image img,
.contacts__mail__image img,
.contacts__portfolio__image img,
.contacts__place__image img {
  width: 40px;
}

.contacts__phone__info,
.contacts__mail__info,
.contacts__portfolio__info,
.contacts__place__info {
  font-size: 20px;
  margin-left: 35px;
}

.contacts__phone__info p,
.contacts__mail__info p,
.contacts__portfolio__info p {
  line-height: 40px;
}

.contacts__portfolio__info a {
  text-decoration: none;
  color: black;
}

/* ----------PERSONAL--------------- */

.personal {
  margin-top: 100px;
}

.personal__birthday {
  margin-top: 40px;
  font-size: 20px;
}

.personal__relationship,
.personal__nationality,
.personal__languages {
  margin-top: 15px;
  font-size: 20px;
}

.personal__birthday::after,
.personal__relationship::after,
.personal__nationality::after,
.personal__languages::after {
  content: "";
  display: block;
  width: 100%;
  background-color: black;
  height: 1px;
  margin-top: 15px;
}

.personal__birthday span,
.personal__relationship span,
.personal__nationality span,
.personal__languages span {
  font-weight: bold;
}

/* ----------INTERESTS------------ */

.interests {
  margin-top: 90px;
}

.interests__content ul {
  margin-top: 45px;
  list-style-image: url(images/triangle-right.png);
}

.interests__content li {
  margin: 25px 0 0 30px;
  text-align: center;
}

/* --------------CONNECT------------ */

.connect {
  margin-top: 90px;
  font-size: 16px;
}

.connect__social {
  margin-top: 40px;
}

.connect__social__vk,
.connect__social__instagram,
.connect__social__github,
.connect__social__codepen {
  display: flex;
  margin-top: 15px;
}

.connect__social__vk-img img,
.connect__social__instagram-img img,
.connect__social__github-img img,
.connect__social__codepen-img img {
  width: 45px;
}

.connect__social__vk-info a,
.connect__social__instagram-info a,
.connect__social__github-info a,
.connect__social__codepen-info a {
  margin-left: 20px;
  margin-top: 11px;
  text-decoration: none;
  color: black;
}

.connect__social__codepen-info {
  margin-bottom: 125px;
}

.connect__social__vk-info p:hover,
.connect__social__instagram-info p:hover,
.connect__social__github-info p:hover,
.connect__social__codepen-info p:hover {
  cursor: pointer;
  border-bottom: 1px solid black;
}

/* ------------Main------------- */
.main {
  width: 68.75%;
  margin: 0 auto;
}

.main__container {
  margin: 0 1%;
}

.header {
  width: 100%;
  position: relative;
}

.switch-button {
  margin: 30px 0 0 30px;
  width: 100px;
  height: 30px;
  position: relative;
}

.switch-button span {
  position: absolute;
  display: block;
  top: 50%;
  width: 100%;
  height: 10%;
  background-color: black;
}

.switch-button span::after,
.switch-button span::before {
  display: block;
  content: "";
  width: 35%;
  height: 2px;
  left: -10%;
  background-color: black;
  position: absolute;
}

.header__title {
  margin: 75px 0 0 75px;
  font-size: 70px;
  text-transform: uppercase;
  font-weight: bold;
}

.header__subtitle {
  margin-left: 75px;
  font-size: 24px;
  margin-top: 20px;
}

.header__subtitle p::after {
  content: "";
  display: block;
  width: 95%;
  height: 2px;
  background-color: black;
  margin-top: 10px;
}

/* -------------ABOUT MY---------- */

.about_my__header,
.skills__header,
.my_works__header,
.free_time__header,
.footer {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-top: 100px;
}

.about_my__info,
.skills__info,
.my_works__info,
.free_time__info {
  margin-top: 25px;
  font-size: 22px;
}

/* ----------------------SLIDER-------------------- */

.about_my__courses__certificate {
  position: relative;
}

.my_slider.slick-slider {
  width: 700px;
  margin: 50px auto 0;
  overflow: hidden;
}

.slick-track {
  display: flex;
}

.slider-item img {
  width: 700px;
}

.slick-dots {
  display: flex;
  justify-content: center;
}

.slick-dots button {
  border-radius: 50%;
  font-size: 0;
  width: 15px;
  height: 15px;
  background-color: #d0d1d3;
  margin: 0 3px;
}

.slick-dots button:focus {
  outline: none;
}

.slick-dots li.slick-active button {
  background-color: transparent;
  border: 2px solid #d0d1d3;
}

.about_my__courses__site {
  margin-top: 35px;
  text-align: center;
}

.about_my__courses__site a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.about_my__courses__site a:hover {
  border-bottom: 1px solid black;
}

/* ----------------SKILS--------------- */

.skills__info {
  text-align: center;
  display: flex;
}

.skills__info__name {
  width: 20%;
}

.skills__info__name p {
  height: 30px;
}

.skills__info__level {
  width: 80%;
}

.skills__info__html {
  display: flex;
}

.skill-name {
  font-weight: bold;
  font-size: 32px;
}

.skill-level {
  height: 30px;
  background-color: #d0d1d3;
  margin-left: 3%;
  width: 90%;
  display: flex;
  border: 2px solid #d0d1d3;
}

.skill-level__percent-html {
  width: 80%;
  height: 100%;
  background-color: black;
}

.skill-level__percent-css {
  width: 75%;
  height: 100%;
  background-color: black;
}

.skill-level__percent-js {
  width: 70%;
  height: 100%;
  background-color: black;
}

.skill-level__percent-react {
  width: 35%;
  height: 100%;
  background-color: black;
}

.skills__info__optionally {
  margin-top: 40px;
  font-size: 22px;
  list-style-type: disc;
  margin-left: 20px;
  text-align: center;
}

.skills__info__optionally span {
  font-weight: bold;
}

.my_works__info {
  text-align: center;
}
.my_works__info p {
  margin: 5px 0;
}

.my_works__info a {
  text-decoration: none;
  color: black;
}

.my_works__info p:hover {
  border-bottom: 1px solid black;
  font-weight: bold;
}

.free_time {
  margin-bottom: 40px;
}

@media (max-width: 1365px) {
  .main {
    width: 850px;
  }

  .my_slider.slick-slider {
    width: 600px;
  }

  .slider-item img {
    width: 600px;
  }
}

@media (max-width: 1200px) {
  .my_slider.slick-slider {
    width: 500px;
  }

  .slider-item img {
    width: 500px;
  }

  .main {
    width: 650px;
  }
}

@media (max-width: 1111px) {
  .my_slider.slick-slider {
    width: 500px;
  }

  .slider-item img {
    width: 500px;
  }
}

@media (max-width: 1080px) {
  .main {
    width: 500px;
  }

  .my_slider.slick-slider {
    width: 400px;
  }

  .slider-item img {
    width: 400px;
  }
}

@media (max-width: 980px) {
  .sidebar {
    width: 350px;
  }

  .main {
    width: 450px;
  }
}

@media (max-width: 940px) {
  .my_slider.slick-slider {
    width: 375px;
  }

  .slider-item img {
    width: 375px;
  }
}

@media (max-width: 920px) {
  .container {
    display: block;
  }

  html,
  body p,
  body ul,
  body li,
  body a {
    font-size: 30px;
  }

  .header__title p {
    font-size: 42px;
  }

  .header__subtitle p {
    font-size: 36px;
  }

  .about_my__courses__site a {
    font-size: 30px;
  }

  .sidebar {
    margin: 0 auto;
    width: auto;
    min-width: 450px;
  }

  .switch-button {
    display: none;
  }

  .main {
    width: auto;
    min-width: 450px;
  }
}

@media (max-width: 450px) {
  body {
    overflow-x: visible;
  }

  .connect p {
    font-size: 20px;
  }
}

@media (max-width: 376px) {
  body {
    overflow-x: visible;
    font-size: auto;
  }

  .connect p {
    font-size: 20px;
  }

  .connect__social__vk-img,
  .connect__social__instagram-img,
  .connect__social__github-img,
  .connect__social__codepen-img {
    margin: 0 auto;
  }

  .connect__social__codepen-img {
    margin-bottom: 40px;
  }

  .connect__social__vk-info,
  .connect__social__instagram-info,
  .connect__social__github-info,
  .connect__social__codepen-info {
    display: none;
  }

  .container {
    margin: 0 auto;
  }

  .header__title {
    margin: 35px 0 0 0;
  }

  .header__subtitle {
    margin: 35px 0 0 0;
  }

  .my_slider.slick-slider {
    width: 300px;
  }

  .slider-item img {
    width: 300px;
  }

  .sidebar {
    margin: 0 auto;
  }
}
